<div class="mainWrapper">
  <div class="firstDiv"></div>
  <div class="secDiv">
    <kendo-grid
      [kendoGridBinding]="items"
      class="kendoUI"
      [pageSize]="pageSize"
      [skip]="skip"
      [pageable]="{
        buttonCount: buttonCount,
        info: info,
        type: type,
        pageSizes: pageSizes,
        previousNext: previousNext,
        position: position
      }"
      filterable="menu"
      [sortable]="{
        allowUnsort: allowUnsort,
        mode: 'single'
      }"
      (pageChange)="pageChange($event)"
      [height]="400"
      [selectable]="true"
      (cellClick)="cellClickHandler($event)"
    >
      <ng-template kendoGridToolbarTemplate>
        <div>
          <h1>Listing Data</h1>
        </div>
        <kendo-grid-spacer></kendo-grid-spacer>
        <kendo-grid-spacer></kendo-grid-spacer>
        <div class="buttonGroup">
          <a kendoGridPDFCommand><i class="far fa-file-pdf"></i> PDF</a>
        </div>
      </ng-template>
      <kendo-grid-checkbox-column
        [headerStyle]="{
          'background-color': '#EDEDED',
          color: '#000',
          'line-height': '1em'
        }"
        [showSelectAll]="true"
        [width]="40"
      ></kendo-grid-checkbox-column>
      <kendo-grid-column
        [headerStyle]="{
          'background-color': '#EDEDED',
          color: '#000',
          'line-height': '1em'
        }"
        field="ProductName"
        title="Product Name"
      ></kendo-grid-column>
      <kendo-grid-column
        [headerStyle]="{
          'background-color': '#EDEDED',
          color: '#000',
          'line-height': '1em'
        }"
        field="UnitsInStock"
        title="Units In Stock"
        filter="numeric"
      ></kendo-grid-column>
      <kendo-grid-column
        [headerStyle]="{
          'background-color': '#EDEDED',
          'line-height': '1em',
          color: '#000'
        }"
        field="UnitsOnOrder"
        title="Units On Order"
        filter="numeric"
      ></kendo-grid-column>
      <kendo-grid-column
        [headerStyle]="{
          'background-color': '#EDEDED',
          color: '#000',
          'line-height': '1em'
        }"
        field="FirstOrderedOn"
        title="First Ordered On"
        [width]="240"
        filter="date"
        format="{0:d}"
      >
      </kendo-grid-column>

      <!-- --------------------------------------- kend0groid-pdf ---------------------------------------- -->

      <kendo-grid-pdf
        fileName="Products.pdf"
        [allPages]="true"
        paperSize="A4"
        [repeatHeaders]="true"
        [landscape]="true"
      >
        <kendo-grid-pdf-margin
          top="2cm"
          left="1cm"
          right="1cm"
          bottom="2cm"
        ></kendo-grid-pdf-margin>
        <ng-template
          kendoGridPDFTemplate
          let-pageNum="pageNum"
          let-totalPages="totalPages"
        >
          <div class="page-template">
            <div class="header">
              <div style="float: right">
                Page {{ pageNum }} of {{ totalPages }}
              </div>
              Multi-page grid with automatic page breaking
            </div>
            <div class="footer">Page {{ pageNum }} of {{ totalPages }}</div>
          </div>
        </ng-template>
      </kendo-grid-pdf>
    </kendo-grid>
  </div>
</div>

<!-- <kendo-grid
      class="kendoUI"
      [data]="gridView"
      [pageSize]="state.take"
      [skip]="state.skip"
      [sort]="state.sort"
      [filter]="state.filter"
      [sortable]="true"
      [pageable]="true"
      [selectable]="true"
      filterable="menu"
      (dataStateChange)="dataStateChange($event)"
    >
      <kendo-grid-checkbox-column
        [showSelectAll]="true"
        [width]="40"
      ></kendo-grid-checkbox-column>
      <kendo-grid-column
        field="ProductID"
        title="ID"
        [width]="40"
        [filterable]="false"
      >
      </kendo-grid-column>
      <kendo-grid-column field="ProductName" title="Product Name">
      </kendo-grid-column>
      <kendo-grid-column
        field="FirstOrderedOn"
        title="First Ordered On"
        [width]="240"
        filter="date"
        format="{0:d}"
      >
      </kendo-grid-column>
      <kendo-grid-column
        field="UnitPrice"
        title="Unit Price"
        [width]="180"
        filter="numeric"
        format="{0:c}"
      >
      </kendo-grid-column>
    </kendo-grid> -->
